/.venv
/volumes
/sheetrm
/example_sheets
/output
/venv
/.vscode
requirements.txt 

# Environment variables
.env
.env.*
!.env.example

__pycache__

# Google Cloud credentials
credentials.json
*.json
!example.json

